packages/
*.csproj
BLogicReport/BLogicReport.Windows/obj/Debug/
BLogicReport/BLogicReport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BLogicReport/BLogicReport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BLogicReport/BLogicReport.iOS/obj/iPhone/Debug/build.force
BLogicReport/BLogicReport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BLogicReport/BLogicReport.UWP/obj/x86/Debug/build.force
BLogicReport/BLogicReport.UWP/obj/x86/Debug/XamlTypeInfo.g.cs
BLogicReport/BLogicReport.UWP/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BLogicReport/BLogicReport.UWP/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BLogicReport/BLogicReport.UWP/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BLogicReport/BLogicReport.iOS/obj/iPhone/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BLogicReport/BLogicReport.iOS/obj/iPhone/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BLogicReport/BLogicReport.iOS/obj/iPhone/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BLogicReport/BLogicReport.WinPhone/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BLogicReport/BLogicReport.WinPhone/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BLogicReport/BLogicReport.WinPhone/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BLogicReport/BLogicReport.WinPhone/obj/Debug/MainPage.g.i.cs
BLogicReport/BLogicReport.WinPhone/obj/Debug/MainPage.g.cs
BLogicReport/BLogicReport.WinPhone/obj/Debug/App.g.i.cs
BLogicReport/BLogicReport.WinPhone/obj/Debug/
BLogicReport/BLogicReport.UWP/obj/x86/Debug/
BLogicReport/BLogicReport.Droid/obj/Debug/
BLogicReport/BLogicReport.iOS/bin/
BLogicReport/BLogicReport.Windows/bin/
BLogicReport/BLogicReport.WinPhone/bin/Debug/Xamarin.Forms.Platform.WinRT.Phone.pri
BLogicReport/BLogicReport.WinPhone/bin/
BLogicReport/BLogicReport.iOS/obj/
BLogicReport/BLogicReport.Droid/bin/
BLogicReport/BLogicReport/bin/
BLogicReport/BLogicReport/obj/
